/* Header container */
.header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

/* Header wrapper */
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

/* Title */
.titulo {
  font-size: 1.5rem; /* Adjust as needed */
  font-weight: bold;
  color: #2d3436;
}

.titulo h1 {
  margin: 0;
}

/* Navigation menu */
.nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Navigation links */
.nav a {
  padding: 10px 15px;
  text-decoration: none;
  color: #2d3436;
  font-size: 0.9rem; /* Adjust as needed */
  transition: all 0.3s ease-in-out;
}

/* Navigation links hover effect */
.nav a:hover {
  color: #979797;
}

.nav button {
  background-color: transparent;
  color: #2d3436;
  padding: 5px 10px;
  border-color: transparent;
  cursor: pointer;
}

.nav button:hover {
  transition: all 0.3s ease-in-out;
  color: #979797
}