<app-header></app-header>
<div class="parallax">
  <div class="container">
    <input type="text" id="pesquisa" [formControl]="inputPesquisa" placeholder="Busque sua dieta..." class="search-input">
    <div class="card-container">
      <div class="card-container">
        <div *ngFor="let item of list" class="card">
          <h3 class="card-title">{{ item.name }}</h3>
          <img class="img" [src]="item.imageLink" alt="{{ item.name }}" class="img-rounded" />
          <p class="card-description">{{ item.description | slice:0:25 }}...</p>
          <button class="card-button" (click)="goToDetails(item.id)" class="card-button">Detalhes</button>
        </div>
      </div>
    </div>
  </div>
</div>
