.cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    width: 400px;
    margin: 20px auto;
    padding: 20px;
  
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .cadastro h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .imput-form {
    margin-bottom: 15px;
  }
  
  .imput-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: 100;
  }
  
  .imput-form input {
    width: 100%;
    padding: 10px;
    
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
  
    &:focus {
      border-color: #999;
    }
  }
  
  .imput-form.erro {
    border-color: red;
  }
  
  .imput-form span {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
  }
  
  .form-btn {
    display: flex;
    justify-content: space-between;
  }
  
  .form-btn button {
    padding: 10px 15px;
    font-size: 16px;
  
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
  
    &:hover {
      background-color: #ddd;
    }
  
    &:active {
      background-color: #ccc;
    }
  }
  
 