.card-container {
  display: flex; 
  flex-wrap: wrap; 
  gap: 20px; 
}

.container {
  width: 1000px; 
  margin: 20px auto; 
  padding: 20px;
  border-radius: 10px; 
  background-color: #fff; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.row-header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 20px; 
}

.heading-section {
  font-size: 24px; 
}

.headerButton {
  margin-left: 20px; 
}

.addNew {
  background-color: #0b2b4e; 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px;
  cursor: pointer; 
  transition: background-color 0.3s ease; 

  &:hover {
    background-color: #0e3b78; 
  }
}

.card {
  background-color: #fff; 
  border: 1px solid #ddd;
  border-radius: 10px; 
  padding: 20px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s, box-shadow 0.3s; 
  width: calc(25% - 20px); 
}


.exercise-image img {
  max-width: 100px; 
  height: auto; 
  border-radius: 20px;
}

.exercise-image {
  display: flex;
  justify-content: center; 
}

.deleteButton {
  background-color: #dc3545; 
  color: #fff; 
  border: none; 
  border-radius: 10px; 
  padding: 8px 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.deleteButton:hover {
  background-color: #c82333; 
}

.dialog-custom .ui-dialog {
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff; 
}

.dialog-custom .ui-dialog .ui-dialog-titlebar {
  background-color: #0e3b78;
  color: #fff;
  border: none;
}

.dialog-custom .ui-dialog .ui-dialog-content {
  background-color: #fff;
}

.dialog-custom .modal-body {
  background-color: #0e3b78;
  color: #fff;
  padding: 20px;
}

.dialog-custom .modal-footer {
  padding: 10px 20px;
  border-top: 1px solid #ddd;
  background-color: #214469;
}

.dialog-custom .modal-footer button {
  margin-right: 10px;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.dialog-custom .modal-footer .btn-success {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
  &:hover {
    background-color: #1c732f;
  }
}

.dialog-custom .modal-footer .btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
  &:hover {
    background-color: #780e0e; 
}
}