<app-header></app-header>

<div class="container">
    <h2>Lista de exercícios</h2>
    <button pButton type="button" label="Adicionar atividade" icon="pi pi-plus" (click)="showDialog()" class="addNew">Adicionar atividade</button>

    <div class="card-container">
        <div *ngFor="let activity of activities" class="card">
            <img class="card-img-top" [src]="getActivityImage(activity.type)" alt="Atividade">
            <div class="card-body">
                <h5 class="card-title">{{ activity.type }}</h5>
                <p class="card-text">Data: {{ activity.date }}</p>
                <p class="card-text" *ngIf="activity.distance">Distância: {{ activity.distance }} km</p>
                <p class="card-text" *ngIf="activity.time">Tempo: {{ activity.time }} minutos</p>
                <button pButton type="button" icon="pi pi-trash" class="deleteButton" (click)="deleteActivity(activity)">Deletar</button>
            </div>
        </div>
    </div>
    
    <p-dialog header="Adicionar Atividade" [(visible)]="displayDialog" [modal]="true" [responsive]="true"
     [style]="{width: '500px', background: '#0e3b78', color: '#fff', borderRadius: '4px', padding: '20px'}" class="dialog-custom">
     
        <div class="modal-body">
            <label for="activityType">Tipo de atividade:</label>
            <select id="activityType" [(ngModel)]="newActivity.type" class="form-control">
                <option *ngFor="let type of activityTypes" [value]="type">{{ type }}</option>
            </select>
    
            <label for="activityDate">Data realizada:</label>
            <input id="activityDate" type="date" [(ngModel)]="newActivity.date" class="form-control" placeholder="Data realizada">
    
            <label for="activityDistance">Distância (opcional):</label>
            <input id="activityDistance" type="number" [(ngModel)]="newActivity.distance" class="form-control" placeholder="Distância (km)" min="0">
            
            <label for="activityTime">Tempo (opcional):</label>
            <input id="activityTime" type="number" [(ngModel)]="newActivity.time" class="form-control" placeholder="Tempo (minutos)" min="0">

        </div>
        <div class="modal-footer">
            <button pButton type="button" label="Salvar" class="btn-success" (click)="saveActivity()">Salvar</button>
            <button pButton type="button" label="Cancelar" class="btn-danger" (click)="cancelActivity()">Cancelar</button>
        </div>
    </p-dialog>
    
</div>
